<header>
  <nav class="gray-links">
    <ul class="flex space-between">
      <li class="logo">
      <a href="<%=root_path %>"><%= image_tag("PC.png", :alt => "logo") %></a>        
      </li>
      <ul class="flex">
        <li class= "orange-links"><%= link_to 'Home', root_path %></li>
        <li><%= link_to Category.first.name, category_path(Category.first) %></li>
        <li><%= link_to Category.find(54).name, category_path(Category.find(54)) %></li>
        <li><%= link_to Category.find(55).name, category_path(Category.find(55)) %></li>
        <li><%= link_to Category.find(56).name, category_path(Category.find(56)) %></li>
      </ul>
      <ul class="flex">
        <%= login_controls %>
      </ul>
    </ul>
  </nav>
</header>
